body {
    background: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #1b1b1b;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: #5b7092;
    padding-top: 2rem;
}

p {
  margin-bottom: 0.75rem;
}

.subheader {
    color: #8f9296;
}

a {
    color: #1B75BA;
}

a:hover {
    color: #38ADCE;
}

#site-title {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 0.75rem 0;
}

#site-title h1 {
    margin: 0;
}

#menu {
    text-align: center;
}

#menu a.button {
    background: transparent;
    color: #1B75BA;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    padding: 0.5rem 1.3rem;
    margin-bottom: 0;
    z-index: 1;
    border: none;
}

#menu a.button:hover {
    color: #38ADCE;
}

@media only screen and (min-width: 40em) {
  #menu a.button {
      padding: 0.5rem 2rem;
  }
}

.games-section {
 background-color: #fff !important;
}

.content-image {
    float: right;
}

.ohn-logo {
  max-height: 5.5rem;
}


/********* Main info ***********/
.main-info {
  background-image: url(../img/swirl.svg);
  background-size: 2000px 450px;
  height: 450px;
  background-repeat: no-repeat;
  position: relative;
  top: -273px;
  margin-bottom: -273px;
  background-position: center top;
}

.main-info-content {
  position: relative;
  top: 273px;
  padding-top: 2.4rem;
}

.main-info-content .date {
    font-size: 1.8rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-family: Cabin;
    color: white;
}

.main-info-content .venue {
    font-family: Raleway;
    color: #d2f0ff;
    font-size: 1.25rem;
    line-height: 2.5rem;

}

.main-info-content .venue a {
  color: #d2f0ff;
}

.main-info-content .venue a:hover {
  color: #ebf7fa;
  border-bottom: solid #ebf7fa 1px;
}

.main-info-content .button {
  background-color: #ebf7fa;
  color: #1B75BA;
  border-color: #bee9f4;
  padding: 0.6rem 1.75rem 0.8rem 1.75rem;
  font-size: 2rem;
  font-family: Cabin, sans-serif;
  text-transform: uppercase;
  border-radius: 1rem;
}

.main-info-content .button:hover {
  background-color: #dcf3f9;
}

@media only screen and (min-width:40.063em) {

  .main-info-content .venue {
      font-size: 1.45rem;
  }

  .main-info-content .date {
      font-size: 2rem;
  }

}

@media only screen and (max-width: 40em) {
    .content-image {
        float: none;
        display: block;
        margin: 20px auto;
    }

}

/********* Row highlights ***********/
.highlight-row {
  margin-top: 2rem;
  padding: 1.5rem 0;
}

.highlight-row.highlight-1 {
  background-color: #E3F0FA;
}


/********* Flex grids ***********/

.info-container {
	display: flex;
	flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.info-item {
	flex-basis: 50%;
	padding: 0.5rem 0rem;
	text-align: center;

}

.info-item ul {
	margin: 0;
}

.info-item ul li {
  list-style-type: none;
}

.info-item .info-name {
	font-size: 1rem;
	margin-bottom: 0;
}

	@media only screen and (min-width: 40em) {
		.info-item {
			flex-basis: 25%;
		}

    .info-container.max-4 .info-item {
      flex-basis: 25%;
    }

    .info-container.max-3 .info-item {
      flex-basis: 33%;
    }

    .info-item .info-name {
      	font-size: 1.25rem;
    }
	}


.info-circle {
	background-color: #17639e;
  color: white;
  width: 75px;
  height: 75px;
  line-height: 75px;
  border-radius: 75px;
  font-size: 1.25rem;
	margin-left: auto;
	margin-right: auto;
  text-align: center;

	background-size: cover;
	background-position: 50% 0%;

}

.info-circle.empty {
	background-color: white;
  border: dotted 8px #17639e;

}


.info-circle {
	margin-bottom: 0.5rem;
}

	@media only screen and (min-width: 40em) {
		.info-circle {
		  width: 100px;
		  height: 100px;
		  line-height: 100px;
		  border-radius: 100px;
		  font-size: 1.5rem;
		}
	}
