<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <title>Registration - OzHadou Nationals 14 (OHN14)</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Registration for OzHadou Nationals 14 (OHN14) - Australia's longest running major fighting games tournament">

  <meta property="og:url" content="ohn.ozhadou.net" />
  <meta property="og:title" content="Registration - OzHadou Nationals 14 (OHN14)" />
  <meta property="og:description" content="Register here to compete or spectate at OzHadou Nationals 14 (OHN14) - Australia's longest running major fighting games tournament" />
  <meta property="og:image" content="http://dev.ozhadou.net/img/ohn-logo.png" />

  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="css/foundation.min.css" />
  <link rel="stylesheet" href="css/ohn.css" />
  <link rel="stylesheet" href="css/rego.css" />
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,700|Cabin' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/jquery-ui.min.css" />
  <link rel="stylesheet" href="css/animate.min.css" />

  <script type="text/javascript" src="js/vendor/jquery.js"></script>
  <script type="text/javascript" src="js/vendor/modernizr.js"></script>
  <script type="text/javascript" src="js/vendor/placeholder.js"></script>
  <script type="text/javascript" src="js/vendor/fastclick.js"></script>
  <script type="text/javascript" src="js/foundation.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-animate.min.js"></script>

  <script type="text/javascript" src="js/rego.js"></script>

  <style type="text/css">
      /* Fastclick fix for elements within labels */
      label > span {
          pointer-events: none;
      }
  </style>

  <link rel="stylesheet" href="css/angular-spinkit.min.css">
  <script src="js/angular-spinkit.min.js"></script>
</head>
<body>

    <div class="app" ng-class="isBusy ? 'noscroll' : ''" ng-app="registrationApp" ng-controller="RegoController">

        <!-- TITLE -->
        <div class="title-row full-width">
            <div class="row content-width">
                <div id="site-title" class="small-12 small-centered columns">
                    <a name="home"></a>
                    <h1><a href="index.html"><img class="ohn-logo" src="img/ohn-logo.svg" alt="OHN14" /></a></h1>
                </div>
            </div>
        </div>

        <!-- HEADER -->
        <div id="top" class="header-row full-width">
            <div class="row content-width">
                <div class="small-12 small-centered text-center columns">
                    <h3>Registration</h3>
                </div>
            </div>
        </div>

        <!-- CONTENT -->
        <form name="form" class="ohn-form" novalidate>

            <div class="slide-from-left slide" ng-show="state == 'Editing'">


                <!-- ERROR -->
                <div class="error-section form-section full-width" ng-show="validationFailed">
                    <div>
                        <span class="error">Please correct the errors below and try again</span>
                    </div>
                </div>

                <!-- REGISTRANT DETAILS FORM-->
                <div class="animate-repeat" ng-repeat="registrant in registrants track by $index" ng-form="registrantForm">

                    <div class="name-section form-section full-width" ng-show="registrants.length > 1">
                        <div class="row form-section-header content-width">
                            <div class="small-12 medium-12 columns">
                                <div ng-class="registrant.isCollapsed ? 'expand' : 'collapse'" class="icon"
                                     style="margin-top: 0.4rem; margin-right: 0.5rem;"
                                     ng-click="toggleRegistrant(registrant)">
                                </div>
                                <h3 ng-show="registrant.gamertag != ''" ng-click="toggleRegistrant(registrant)">{{registrant.gamertag}}</h3>
                                <h3 ng-show="registrant.gamertag == ''" ng-click="toggleRegistrant(registrant)">(new)</h3>
                                <div class="delete icon"
                                     style="margin-top: 0.4rem; margin-right: 0.5rem;"
                                     ng-click="removeRegistrant(registrant)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slide-from-top" ng-hide="registrant.isCollapsed">

                        <div class="type-section form-section full-width">
                            <div class="row content-width">
                                <div class="small-12 columns end">
                                    <label></label>
                                    <div class="small-text-center">

                                        <label ng-class="registrant.type == 'Competitor' ? 'active' : ''" class="button type-button">
                                            <input required="" type="radio" name="optRegistrantType" ng-model="registrant.type" ng-change="competitorPassSelected(registrant)" value="Competitor" class="ui-helper-hidden-accessible">
                                            <span class="button-text title">Fight!</span>
                                            <span class="button-text subtitle">Competitor pass</span>
                                            <span class="button-text price">$50</span>
                                        </label>

                                        <label ng-class="registrant.type == 'Spectator' ? 'active' : ''" class="button type-button">
                                            <input type="radio" name="optRegistrantType" ng-model="registrant.type" value="Spectator" class="ui-helper-hidden-accessible">
                                            <span class="button-text title">Watch</span>
                                            <span class="button-text subtitle">Spectator pass</span>
                                            <span class="button-text price">$10</span>
                                        </label>

                                        <label ng-class="registrant.type == 'AddGames' ? 'active' : ''" class="button type-button">
                                            <input required="" type="radio" name="optRegistrantType" ng-model="registrant.type" ng-change="getExistingRegistrant(registrant)" value="AddGames" class="ui-helper-hidden-accessible">
                                            <span class="button-text title">Add games</span>
                                            <span class="button-text subtitle">to existing Competitor pass</span>
                                            <span class="button-text price">n/a</span>
                                        </label>

                                    </div>
                                </div>
                                <div class="small-text-center medium-text-left small-12 medium-10 columns end">
                                    <div ng-show="validationFailed">
                                        <span class="error" ng-show="registrantForm.optRegistrantType.$error.required">Please select a pass type</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="slide-from-top player-section form-section full-width" ng-hide="registrant.type == ''">
                            <div class="row form-section-header content-width">
                                <div class="small-12 medium-4 columns">
                                    <h4 class="subheader">Player</h4>
                                </div>
                            </div>

                            <div class="row content-width">
                                <div class="form-field small-12 medium-3 columns">
                                    <label>
                                        Gamertag
                                        <input name="gamertag" type="text" ng-model="registrant.gamertag" required="" maxlength="25"
                                               ohn-existing-competitor="registrant.type == 'AddGames'"
                                               ohn-unique-competitor="registrant.type == 'Competitor'"
                                               ng-blur="getExistingRegistrant(registrant)" />
                                    </label>
                                    <div ng-show="validationFailed || registrantForm.gamertag.$touched">
                                        <span class="error" ng-show="registrantForm.gamertag.$error.required">Please enter your gamertag</span>
                                        <span class="error" ng-show="registrantForm.gamertag.$error.existing">This gamertag is not registered as a competitor</span>
                                        <span class="error" ng-show="registrantForm.gamertag.$error.unique">This gamertag is already taken</span>
                                    </div>
                                </div>
                            </div>

                            <div class="slide-from-top" ng-show="registrant.type == 'Competitor' || registrant.type == 'Spectator'">
                                <div class="row content-width">
                                    <div class="form-field small-12 medium-3 columns">
                                        <label>
                                            First name
                                            <input name="firstName" type="text" ng-model="registrant.firstName" maxlength="25" />
                                        </label>
                                    </div>
                                    <div class="form-field small-12 medium-3 columns end">
                                        <label>
                                            Last name
                                            <input name="lastName" type="text" ng-model="registrant.lastName" maxlength="25" />
                                        </label>
                                    </div>
                                </div>

                                <div class="row content-width">
                                    <div class="form-field small-12 medium-3 columns">
                                        <label>
                                            Email
                                            <input name="email" type="email" ng-model="registrant.email" ng-required="registrant.type == 'Competitor' || registrant.type == 'Spectator'" maxlength="100"
                                                   pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"/>
                                        </label>
                                        <div ng-show="validationFailed || registrantForm.email.$touched">
                                            <span class="error" ng-show="registrantForm.email.$error.required">Please enter your email address</span>
                                            <span class="error" ng-show="!registrantForm.email.$error.required && (registrantForm.email.$error.email || registrantForm.email.$error.pattern)">Please enter a valid email address</span>
                                        </div>
                                    </div>
                                    <div class="form-field small-12 medium-3 columns end">
                                        <label>
                                            Contact number
                                            <input name="contactNumber" type="text" ng-model="registrant.contactNumber" maxlength="25" ng-pattern="/^[0-9\(\)\+\-]*$/" />
                                        </label>
                                        <div ng-show="validationFailed || registrantForm.contactNumber.$touched">
                                            <span class="error" ng-show="registrantForm.contactNumber.$error.pattern">This is not a valid contact number</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row content-width">
                                    <div class="form-field small-12 medium-2 columns" style="margin-bottom:0">
                                        <label>
                                            Region
                                            <select name="state" ng-model="registrant.state" ng-required="registrant.type == 'Competitor'">
                                                <option value=""></option>
                                                <option value="NSW">NSW</option>
                                                <option value="ACT">ACT</option>
                                                <option value="QLD">QLD</option>
                                                <option value="VIC">VIC</option>
                                                <option value="WA">WA</option>
                                                <option value="SA">SA</option>
                                                <option value="NT">NT</option>
                                                <option value="TAS">TAS</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </label>
                                        <div ng-show="validationFailed || registrantForm.state.$touched">
                                            <span class="error" ng-show="registrantForm.state.$error.required">Please select your region</span>
                                        </div>
                                    </div>
                                    <div class="form-field small-12 medium-3 columns end">
                                        <label>
                                            &nbsp;
                                            <input name="otherLocation" type="text" placeholder="Other location" ng-show="registrant.state == 'Other'" ng-required="registrant.type == 'Competitor' && registrant.state == 'Other'" ng-model="registrant.otherLocation" maxlength="100" />
                                        </label>
                                        <div ng-show="validationFailed || registrantForm.otherLocation.$touched">
                                            <span class="error" ng-show="registrantForm.otherLocation.$error.required">Please specify your region</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="slide-from-top games-section form-section full-width" ng-show="registrant.type == 'Competitor' || registrant.type == 'AddGames'">
                            <div class="row form-section-header content-width">
                                <div class="small-12 medium-4 columns">
                                    <h4 class="subheader">Games</h4>
                                </div>
                            </div>

                            <div class="row content-width">
                                <div class="small-12 small-centered medium-uncentered medium-8 columns end">
                                    <ul class="game-select-grid small-block-grid-2 medium-block-grid-3 large-block-grid-3">
                                        <li>
                                            <div class="game-button-container">
                                                <input type="checkbox" ng-model="registrant.sf" id="chkSF-{{ registrant.index }}" class="ui-helper-hidden-accessible"
                                                       ng-disabled="registrant.sfRegistered">
                                                <label for="chkSF-{{ registrant.index }}" ng-class="registrant.sf == true ? 'active' : ''" class="game-button button">
                                                    <img src="img/gamelogo-sf-white.png" />
                                                    <span class="button-text price">$10</span>
                                                </label>
                                                <span class="game-warning" ng-show="registrant.sfRegistered">Already registered</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="game-button-container">
                                                <input type="checkbox" ng-model="registrant.tk" id="chkTK-{{ registrant.index }}" class="ui-helper-hidden-accessible"
                                                       ng-disabled="registrant.tkRegistered">
                                                <label for="chkTK-{{ registrant.index }}" ng-class="registrant.tk == true ? 'active' : ''" class="game-button button">
                                                    <img src="img/gamelogo-tk-white.png" />
                                                    <span class="button-text price">$10</span>
                                                </label>
                                                <span class="game-warning" ng-show="registrant.tkRegistered">Already registered</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="game-button-container">
                                                <input type="checkbox" ng-model="registrant.mk" ng-change="mkxSelectionChanged(registrant)" id="chkMK-{{ registrant.index }}" class="ui-helper-hidden-accessible"
                                                       ng-disabled="registrant.mkRegistered">
                                                <label for="chkMK-{{ registrant.index }}" ng-class="registrant.mk == true ? 'active' : ''" class="game-button button">
                                                    <img src="img/gamelogo-mk-white.png" />
                                                    <span class="button-text price">$10</span>
                                                </label>
                                                <span class="game-warning" ng-show="registrant.mkRegistered">Already registered</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="game-button-container">
                                                <input type="checkbox" ng-model="registrant.a1" id="chkA1-{{ registrant.index }}" class="ui-helper-hidden-accessible"
                                                       ng-disabled="registrant.a1Registered">
                                                <label for="chkA1-{{ registrant.index }}" ng-class="registrant.a1 == true ? 'active' : ''" class="game-button button">
                                                    <img src="img/gamelogo-a1-white.png" />
                                                    <span class="button-text price">$10</span>
                                                </label>
                                                <span class="game-warning" ng-show="registrant.a1Registered">Already registered</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="game-button-container">
                                                <input type="checkbox" ng-model="registrant.s1" id="chkS1-{{ registrant.index }}" class="ui-helper-hidden-accessible"
                                                       ng-disabled="registrant.s1Registered">
                                                <label for="chkS1-{{ registrant.index }}" ng-class="registrant.s1 == true ? 'active' : ''" class="game-button button">
                                                    <img src="img/gamelogo-s1-white.png" />
                                                    <span class="button-text price">$10</span>
                                                </label>
                                                <span class="game-warning" ng-show="registrant.s1Registered">Already registered</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="game-button-container">
                                                <input type="checkbox" ng-model="registrant.s2" ng-change="s2SelectionChanged(registrant)" id="chkS2-{{ registrant.index }}" class="ui-helper-hidden-accessible"
                                                       ng-disabled="registrant.s2Registered">
                                                <label for="chkS2-{{ registrant.index }}" ng-class="registrant.s2 == true ? 'active' : ''" class="game-button button">
                                                    <img src="img/gamelogo-s2-white.png" />
                                                    <span class="button-text price">$10</span>
                                                </label>
                                                <span class="game-warning" ng-show="registrant.s2Registered">Already registered</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="game-button-container">
                                                <input type="checkbox" ng-model="registrant.s3" id="chkS3-{{ registrant.index }}" class="ui-helper-hidden-accessible"
                                                       ng-disabled="registrant.s3Registered">
                                                <label for="chkS3-{{ registrant.index }}" ng-class="registrant.s3 == true ? 'active' : ''" class="game-button button">
                                                    <img src="img/gamelogo-s3-white.png" />
                                                    <span class="button-text price">$10</span>
                                                </label>
                                                <span class="game-warning" ng-show="registrant.s3Registered">Already registered</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="game-button-container">
                                                <input type="checkbox" ng-model="registrant.s4" ng-change="s4SelectionChanged(registrant)" id="chkS4-{{ registrant.index }}" class="ui-helper-hidden-accessible"
                                                       ng-disabled="registrant.s4Registered">
                                                <label for="chkS4-{{ registrant.index }}" ng-class="registrant.s4 == true ? 'active' : ''" class="game-button button">
                                                    <img src="img/gamelogo-s4-white.png" />
                                                    <span class="button-text price">$10</span>
                                                </label>
                                                <span class="game-warning" ng-show="registrant.s4Registered">Already registered</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="game-button-container" style="display:none">
                                                <input type="checkbox" disabled ng-model="registrant.a2" id="chkA2-{{ registrant.index }}" class="ui-helper-hidden-accessible">
                                                <label for="chkA2-{{ registrant.index }}" ng-class="registrant.a2 == true ? 'active' : ''" class="game-button button">
                                                    <img src="img/gamelogo-a2-white.png" />
                                                    <span class="button-text price">$10</span>
                                                </label>
                                                <span class="game-warning" ng-show="registrant.a2Registered">Already registered</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="slide-from-top merchandise-section form-section full-width" ng-hide="registrant.type == ''">
                            <div class="row form-section-header content-width">
                                <div class="small-12 medium-4 columns">
                                    <h4 class="subheader">Merchandise</h4>
                                </div>
                            </div>

                            <div class="row content-width">
                                <div class="small-8 small-centered medium-uncentered medium-3 columns end">

                                  <div class="game-button-container">
                                      <input type="checkbox" ng-model="registrant.shirt" id="chkShirt-{{ registrant.index }}" class="ui-helper-hidden-accessible"
                                             ng-disabled="registrant.shirtRegistered">
                                      <label for="chkShirt-{{ registrant.index }}" ng-class="registrant.shirt == true ? 'active' : ''" class="game-button button">
                                          <img src="img/shirt.png" />
                                          <span class="button-text price">$25</span>
                                      </label>

                                      <select name="shirtSize" ng-model="registrant.shirtSize" ng-disabled="!registrant.shirt" style="margin-top:0.5rem;">
                                          <option value="S">S</option>
                                          <option value="M">M</option>
                                          <option value="L">L</option>
                                          <option value="XL">XL</option>
                                      </select>
                                  </div>

                                </div>
                            </div>


                        </div>

                    </div>

                </div>

                <!-- ACTIONS -->
                <div class="buttons-section form-section full-width">
                    <div class="row content-width">
                        <div class="small-12 small-centered medium-text-left columns">
                            <button class="button secondary" ng-click="addRegistrant()">Add a person</button>
                            <button class="button" ng-click="reviewRegistration()">Review registration</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="slide-from-right slide" ng-show="state == 'Reviewing'">

                <div class="review-section form-section full-width">

                    <div class="row form-section-header content-width">
                        <div class="small-12 medium-4 columns">
                            <h4 class="subheader">Review</h4>
                        </div>
                    </div>


                    <!-- REGISTRANT DETAILS -->
                    <div class="row content-width">
                        <div class="small-12 columns">
                            <table>
                                <tbody>
                                    <tr class="registrant-name" ng-repeat-start="registrant in registrants track by $index">
                                        <td>
                                            <div class="edit icon"
                                                 ng-click="editRegistration(registrant)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="gamertag">{{ registrant.gamertag }}</div>
                                            <div class="email">{{ registrant.email }}</div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="item in registrant.items">
                                        <td></td>
                                        <td>{{ item.name }}</td>
                                        <td class="numeric">{{ item.price | currency:"$":0 }}</td>
                                    </tr>
                                    <tr ng-repeat-end class="totals sub-total">
                                        <td colspan="2">
                                            {{ registrant.gamertag }} Total
                                        </td>
                                        <td class="numeric">
                                            {{ registrant.total | currency:"$":0 }}
                                        </td>

                                    </tr>
                                    <tr class="totals grand-total">
                                        <td colspan="2">
                                            Total
                                        </td>
                                        <td class="numeric">
                                            {{ total | currency:"$":0 }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

                <!-- TOTAL -->
                <div class="totals-section form-section full-width">
                    <div class="row content-width">
                        <div class="small-12 small-text-center medium-text-left columns">
                            <span class="total-label">Total</span> <span class="total-price">{{ total | currency:"$":0  }}</span>
                        </div>
                    </div>
                </div>

                <!-- ACTIONS -->
                <div class="buttons-section form-section full-width">
                  <div class="row content-width">
                    <div class="small-12 medium-9 small-text-center medium-text-left columns end " style="margin-bottom: 1.5rem;">
                      <p style="font-size: 0.8rem; margin-bottom: 0.3rem;">Please note that by registering for this event:</p>
                      <p style="font-size: 0.8rem;margin-bottom: 0.3rem;">1) you agree to follow the <a href="/#rules" target="_blank">rules and regulations for OHN</a> as they appear on the OHN website and</p>
                      <p style="font-size: 0.8rem;margin-bottom: 0.4rem;">2) you agree that OzHadou may take photographs and film footage of you at the above event, and may use the photographs and/or film footage for OzHadou's promotional and/or commercial purposes, including for use on the OzHadou website and Facebook page.  </p>
                    </div>
                  </div>
                  <div class="row content-width">
                      <div class="small-12 small-centered small-text-center medium-text-left columns">
                          <button class="button secondary" ng-click="editRegistration()">Edit registration</button>
                          <a href="#" data-paypal-button="true" style="margin-left:10px;margin-right:10px;" ng-click="pay()">
                              <img src="https://www.paypal.com/en_AU/AU/i/btn/btn_xpressCheckout.gif" style="margin-right:7px;">
                          </a>
                      </div>
                  </div>
                </div>
            </div>

        </form>


        <!-- LOADING -->
        <div class="loading" ng-show="isBusy">
            <circle-spinner></circle-spinner>
        </div>

        <div id="mkxDialog" style="text-align:center" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <h2 id="modalTitle">Are you 18 years or older?</h2>
            <p>You must be at least 18 years old to play Mortal Kombat X. We will be checking IDs on entry.</p>
            <button ng-click="closeMkxDialog(true)">Yes</button> <button class="secondary" ng-click="closeMkxDialog(false)">No</button>
        </div>

        <div id="s2Dialog" style="text-align:center" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <h2 id="modalTitle">Who's your teammate?</h2>
            <p>If you know who you're teaming up with for <b>Smash Melee Doubles</b>, enter their gamertag below.<br>If you're not sure yet, leave it blank and tell us via email at <a href="mailto:ohnsmash@ozhadou.net">ohnsmash@ozhadou.net</a> when you find out.</p>
            <label>
                Gamertag
                <input name="s2gamertag" type="text" required="" maxlength="25" ng-model="currentRegistrantForS2.s2Notes" style="margin-right: auto; margin-left: auto; max-width: 200px;">
            </label>
            <button ng-click="closeS2Dialog()">Okay</button>
        </div>

        <div id="s4Dialog" style="text-align:center" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <h2 id="modalTitle">Who's your teammate?</h2>
            <p>If you know who you're teaming up with for <b>Smash for Wii U Doubles</b>, enter their gamertag below.<br>If you're not sure yet, leave it blank and tell us via email at <a href="mailto:ohnsmash@ozhadou.net">ohnsmash@ozhadou.net</a> when you find out.</p>
            <label>
                Gamertag
                <input name="s4gamertag" type="text" required="" maxlength="25" ng-model="currentRegistrantForS4.s4Notes" style="margin-right: auto; margin-left: auto; max-width: 200px;" />
            </label>
            <button ng-click="closeS4Dialog()">Okay</button>
        </div>

    </div>


</body>
</html>
